@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  font-family: CaskaydiaMono Nerd Font;
  /* font-family: Jetbrainsmono Nerd Font; */
  font-size: 17px;
  min-height: 0;
  border: none;
  border-radius: 0;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#memory,
#custom-lock,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy {
  min-width: 12px;
  margin: 0 7.5px;
}
#custom-music,

#pulseaudio {
  color: #ea999c;
  border-radius: 5px 0px 0px 5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  color: #babbf1;
}

tooltip {
  padding: 2px;
}
